#about-us{
  display: flex;
  padding: 0 50px;
  padding-bottom: 50px;
}

#about-us .main-title{
  color:var(--azul-intenso);
  font-size: 2rem;
  font-family: var(--tittle-font);
  /* font-weight:bold; */
  font-style:italic;
  padding-bottom: 25px;
  display:flex;
}

.about-itens{
  display:grid;
  grid-template-columns: 50px 2fr;
  padding-bottom: 30px;
}

.about-itens img{
  width:30px;
  height: 30px;
}

.about-itens h2{
  padding-bottom: 10px;
  color: var(--azul-intenso);
  font-family:var(--tittle-font);
  font-style:italic;
  font-size: 20px;
}

#about-us-img{
  width:400px;
}

.txt-about-us{
  font-family: var(--txt-font);
}

@media screen and (max-width:800px){
  #about-us{
    display:flex;
    flex-direction:column;
    margin:10px 30px;
  }

  #about-us-img{
    width: 350px;
  }
}