#attractions{
  padding-bottom: 70px;
}

.tilt-effect{
  display: flex;
  justify-content: space-around;
  align-items: center;
  }
  
  .img-tilt-effect {
    width: 200px;
    cursor: pointer;
}

.img-attractions-mobile{
  display:none;
}

@media screen and (max-width: 800px){

  #attractions{
    padding-bottom: 20px;
  }

  .img-attractions{
    display:none;
  }

  .img-attractions-mobile{
    display:flex;
    flex-direction: column;
    /* padding: 0 30px; */
    align-items: center;
  }

  .img-mobile{
    padding-bottom: 20px;
    width: 80%;
  }

}