*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /*cores*/
    --azul-extra-intenso: #0e0260;
    --azul-intenso: #170490;
    --branco: #FFFFFF;
    --azul-claro: #48a8cb;
    --azul-escuro: #494bd2;

    /* fontes */
    --site-tittle:"Roboto Mono", monospace;
    --txt-font:"Source Serif 4", serif;
}

